<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CalculatorTest">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="CalculatorTest">
        <classes>
            <class name="tests.CalculatorTest"/>
        </classes>
    </test>
</suite>